{% extends 'bootstrap4.html' %}
{% load bootstrap4 %}
{% block bootstrap4_content %}

<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">RSS</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container mt-5">
    <div class="row">
         <div class="col-0 col-3"></div>
         <div class="col-0 col-6">

          <div class="post-block">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          <h3 class="my-2">Title</h3>
                          <hr>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="mx-3">Lorem ipsum nam arcu odio orci lorem metus — elementum arcu eget ut adipiscing risus, magna commodo leo porta magna nibh nam: pharetra curabitur. Eu magna curabitur at nulla maecenas eget mauris gravida vivamus lorem porta metus maecenas, urna, sem mauris, porta malesuada nam metus porttitor porta sapien. Commodo sapien enim ipsum rutrum ultricies ipsum, et nec ultricies maecenas adipiscing, quisque, ligula nibh nec sed sapien, et porttitor sagittis lectus. Fusce sapien nulla malesuada porttitor curabitur bibendum porttitor orci, elementum adipiscing. Sagittis gravida: cursus arcu at maecenas eget at ligula — tempus nam sodales congue mauris lectus fusce urna: enim metus: porta diam metus vivamus.</div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-right">
                      <div class="btn-group">
                          <button class="btn btn-outline-success">Read</button>
                          <button class="btn btn-outline-dark">Add Favorite</button>
                      </div>
                  </div>
                  <br><br>
              </div>
          </div>
          <br>
          <div class="post-block">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          <h3 class="my-2">Title</h3>
                          <hr>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="mx-3">Lorem ipsum nam arcu odio orci lorem metus — elementum arcu eget ut adipiscing risus, magna commodo leo porta magna nibh nam: pharetra curabitur. Eu magna curabitur at nulla maecenas eget mauris gravida vivamus lorem porta metus maecenas, urna, sem mauris, porta malesuada nam metus porttitor porta sapien. Commodo sapien enim ipsum rutrum ultricies ipsum, et nec ultricies maecenas adipiscing, quisque, ligula nibh nec sed sapien, et porttitor sagittis lectus. Fusce sapien nulla malesuada porttitor curabitur bibendum porttitor orci, elementum adipiscing. Sagittis gravida: cursus arcu at maecenas eget at ligula — tempus nam sodales congue mauris lectus fusce urna: enim metus: porta diam metus vivamus.</div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-right">
                      <div class="btn-group">
                          <button class="btn btn-outline-success">Read</button>
                          <button class="btn btn-outline-dark">Add Favorite</button>
                      </div>
                  </div>
                  <br><br>
              </div>
          </div>
        <br>
          <div class="post-block">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          <h3 class="my-2">Title</h3>
                          <hr>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="mx-3">Lorem ipsum nam arcu odio orci lorem metus — elementum arcu eget ut adipiscing risus, magna commodo leo porta magna nibh nam: pharetra curabitur. Eu magna curabitur at nulla maecenas eget mauris gravida vivamus lorem porta metus maecenas, urna, sem mauris, porta malesuada nam metus porttitor porta sapien. Commodo sapien enim ipsum rutrum ultricies ipsum, et nec ultricies maecenas adipiscing, quisque, ligula nibh nec sed sapien, et porttitor sagittis lectus. Fusce sapien nulla malesuada porttitor curabitur bibendum porttitor orci, elementum adipiscing. Sagittis gravida: cursus arcu at maecenas eget at ligula — tempus nam sodales congue mauris lectus fusce urna: enim metus: porta diam metus vivamus.</div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 text-right">
                      <div class="btn-group">
                          <button class="btn btn-outline-success">Read</button>
                          <button class="btn btn-outline-dark">Add Favorite</button>
                      </div>
                  </div>
                  <br><br>
              </div>
          </div>
          <br>

         </div>
         <div class="col-0 col-3"></div>
    </div>
</div>

{% endblock %}